## MySQL
MYSQL_ROOT_PASSWORD=Your_MySQL_Root_Password
MYSQL_USER=Your_MySQL_Username
MYSQL_PASSWORD=Your_MySQL_Password

## JWT
JWT_SECRET=Your_JWT_Token_Secret
## 24h
JWT_EXPIRATION=86400000

## TMDB
TMDB_API_KEY=Your_TMDB_Api_Key


