## MySQL
MYSQL_ROOT_PASSWORD=Your_Root_Password
MYSQL_USER=Your_MYSQL_User
MYSQL_PASSWORD=Your_MYSQL_Password

## JWT
JWT_SECRET=Your_JWT_Token_Secret
## 24h
JWT_EXPIRATION=86400000

## TMDB
TMDB_API_KEY=You_Tmbd_Api_Key